header#cover-image {
  position: relative;
   &::after {
     @include cover-shadow;
  }
  .img-wrapper {
    position: relative;
    overflow: hidden;
    // for the bottom pseudo element
    img {
      width: 100%;
      display: block;
    }
    &::after {
      content: '';
      display: block;
      width: 110%;
      position: absolute;
      height: 100px;
      left: -5%;
      bottom: -50px;
      background: $lightgrey;
      transform: rotate(-2.5deg);
    }
  }
  .lead {
    @include min-wp-width { display: flex; }
    @include content-width;
    z-index: 2;
    position: relative;
    .headline {
      @include card;
      margin-top: -10rem;
      @include min-wp-width { margin: -10rem 1rem 0; }
      margin: -5rem 1rem;
      font-size: 1.2rem;
      padding: 0.5rem 2rem;
      h1 {
        margin-bottom: 0;
      }
    }
    .caption {
      margin: 6rem 1rem 2rem;
      @include min-wp-width { margin: -2rem 1rem 0 0.5rem; }
    }
  }
}