article.document {
  @include content-width;
  @include content-padding;
  display: flex;
  .header-nav {
    text-align: right;
    position: fixed;
    width: 100%;
    max-width: 260px;
    top: calc(#{$nav-height} + 4rem);
    bottom: $footer-height;
    overflow-y: auto;
    header {
      @include card;
      h1 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    nav {
      margin-top: 1rem;
      font-size: 0.9rem;
      text-transform: uppercase;
      ul {
        list-style-type: none;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        padding: 0;
      }
      li a {
        display: inline-block;
        text-decoration: none;
        padding: 0.35rem;
      }
    }
  }
  .entry-content {
    width: calc(100% - 290px);
    margin: 0 0 0 auto;
    section {
      margin-bottom: 2rem;
      h2 {
        margin: 1rem 1.5rem 0.25rem;
      }
      div {
        @include card;
        padding: 1.5rem;
        p:first-of-type {
          margin-top: 0;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}