article.document {
  @include content-width;
  @include content-padding;
  .header-nav {
    width: 100%;
    @include md {
      max-width: 210px;
      text-align: right;
      position: fixed;
      overflow-y: auto;
      font-size: 0.8rem;
      top: calc(#{$nav-height} + 4rem);
      bottom: 32px;
    }
    @include lg {
      max-width: 260px;
      font-size: 0.9rem;
    }

    header {
      @include card;
      h1 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    nav {
      margin-top: 1rem;
      font-size: 0.9rem;
      text-transform: uppercase;
      ul {
        list-style-type: none;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        padding: 0;
      }
      li a {
        display: inline-block;
        text-decoration: none;
        padding: 0.35rem;
        &:link, &:visited {
          color: $grey;
        }
        &:hover, &:active {
          color: $black;
        }
      }
    }
  }
  .entry-content {
    @include md { width: calc(100% - 240px); }
    @include lg { width: calc(100% - 290px); }
    margin: 0 0 0 auto;
    section {
      margin-bottom: 2rem;
      header h2 {
        margin: 2rem 1rem 0.25rem;
        @include md {
          margin: 1rem 1.5rem 0.25rem;
        }
      }
      div.content-area {
        @include card;
        padding: 1rem;
        @include md { padding: 1.5rem; }
        p:first-of-type {
          margin-top: 0;
        }
        h3 {
          margin: 2rem 0 0;
          &.date {
            text-decoration: underline;
            text-transform: uppercase;
            padding-top: 2rem;
            border-top: 1px solid;

          }
        }
        > h3:first-child {
          padding-top: 0.5rem;
          border-top: 0;
          margin-top: 0;
        }
      }
    }
  }
}