// The program features/icon split boxes
.feature-block-icons {
  > .wp-block-column {
    @include card;
    padding: 0.25rem 1.25rem;
    margin: 0 1rem;
    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0 0 0.5rem 0;
      font-size: 0.8rem;
    }
    flex-basis: 100% !important;
    @include min-wp-width {
      flex-basis: 0;
      flex-grow: 1;
    }
    + .wp-block-column {
      @include max-wp-width {
        margin-top: 28px;
      }
    }
    .wp-block-columns {
      margin-bottom: 0;
      .wp-block-column + .wp-block-column {
        display: flex;
        align-items: center;
        .fad {
          color: $white;
          border-radius: 50%;
          font-size: 1.8rem;
          height: 3.6rem;
          width: 3.6rem;
          line-height: 3.6rem;
        }
        @include max-wp-width { 
          flex: 0 1 auto !important; 
          margin-left: 32px;
        }
      }
      .wp-block-column:first-child {
        @include max-wp-width { flex: 1 !important; }
      }
    }
  }
}

.home .entry-content .feature-block-icons {
  // First row
  &:nth-of-type(1) { 
    > .wp-block-column:nth-of-type(1) .fad {
      background-color: $accent1;
    }
    > .wp-block-column:nth-of-type(2) .fad {
      background-color: $accent2;
    }
  }
  &:nth-of-type(2) { 
    > .wp-block-column:nth-of-type(1) .fad {
      background-color: $accent3;
    }
    > .wp-block-column:nth-of-type(2) .fad {
      background-color: $accent4;
    }
  }
  &:nth-of-type(3) { 
    > .wp-block-column:nth-of-type(1) .fad {
      background-color: $accent5;
    }
    > .wp-block-column:nth-of-type(2) .fad {
      background-color: $accent6;
    }
  }
}
