.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
  margin: 0 0 1.5em;
}

.entry-content {
  @include content-width;
}

.site-main {
  margin-top: $nav-height;
}

body.fade-header {
  .site-main {
    margin-top: 0;
  }
}

.people-page {
  .wp-block-media-text {
    margin-bottom: 2rem;
  }
  ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 0.5rem;
    }
  }
}