.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
  margin: 0 0 1.5em;
}

.entry-content {
  @include content-width;
  &.default {
    section {
      padding: 0 1rem;
    }
  }
}

.site-main {
  margin-top: $nav-height;
}

body.fade-header {
  .site-main {
    margin-top: 0;
  }
}

.people-page {
  .entry-content {
    padding: 0 1rem;
  }
  .wp-block-media-text {
    margin-bottom: 2rem;
  }
  ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 0.7rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.about-page {
  section {
    padding: 1rem;
    &.stats {
      @include sm { display: flex; }
      align-items: center;
      background: $white;
      border-radius: 3px;
      margin: 2rem 1rem 0;
      text-align: center;
      @include sm { padding: 2rem 1rem; }
      > span {
        flex: 1;
        display: block;
        padding: 0 0 1rem;
        @include sm {
          display: inline;
          padding: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      .number {
        font-size: 4rem;
        line-height: 4rem;
        @include md {
          font-size: 5rem;
          line-height: 5rem;
        }
        font-weight: 800;
        display: block;
      }
      .stat-label {
        text-transform: uppercase;
        font-size: 0.7rem;
        @include sm { margin: 0 1.25rem; }
        flex: 0 1 auto;
        color: $grey;
      }
      + section .wp-block-columns {
        @include max-wp-width {
          margin-bottom: 0;
        }
      }
    }
    .partner {
      @include card;
      padding: 1rem;
      > a {
        display: inline-block;
      }
      figcaption {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}

a.funder {
  margin: 1rem 0;
  display: block;
  @include card;
  img {
    padding: 1rem;
    margin: 0 auto;
  }
}