.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
  margin: 0 0 1.5em;
}

.entry-content {
  @include content-width;
}

.site-main {
  margin-top: $nav-height;
}

body.home {
  .site-main {
    margin-top: 0;
  }
}