.project {
  font-size: 0.9rem;
  .img-wrapper {
    img {
      display: block;
    }
  }
  .overview {
    @include card;
    h2 {
      margin: 0.5rem 0;
    }
    .logo {
      max-width: 170px;
      display: block;
      margin: 0.25rem 0 1rem;
    }
    p {
      margin: 1rem 0;
    }
  }
  .location-awards {
    font-size: 0.8rem;
    span.list-label {
      text-transform: uppercase;
      display: inline-block;
      margin-right: 0.25rem;
      font-weight: 800;
    }
    span.list-item {
      + span.list-item {
        &::before {
          content: ', ';
        }
      }      
    }
  }
  &.featured {
    margin-bottom: 2rem;
    header#cover-project {
      position: relative;
      .caption {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        // account for overflowing .overview box
        margin-left: calc(60% + 2rem);
        color: $white;
        text-align: right;
      }
    }
    .info-box {
      @include content-width;
      display: flex;
      .overview {
        display: flex;
        flex-basis: 60%;
        margin-top: -5rem;
        margin-left: 1rem;
        position: relative;
        div {
          flex: 1;
        }
        div:first-child {
          flex: 0 1 auto;
          margin-right: 2rem;
        }
      }
      .location-awards {
        display: flex;
        flex-basis: 40%;
        padding: 1rem 0 0 2rem;
        div {
          flex: 1;
          padding-right: 1rem;
        }
      }
    }
    &::after {
      @include cover-shadow;
    }
  }
  &.regular {
    margin: 2rem 0;
    display: flex;
    .entry-header {
      width: 50%;
      img {
        border-radius: 3px;
      }
    }
    .info-box {
      max-width: $sm;
      margin-top: 2rem;
      .overview {
        padding: 1rem 1.25rem;
        .button {
          margin-bottom: 0.5rem;
        }
      }
    }
    .location-awards {
      padding: 0.75rem 1.5rem 0;
      .list-label {
        padding-top: 0.5rem;
      }
    }
    &:nth-child(even) {
      .entry-header {
        order: 2;
        .caption {
          text-align: right;
        }
      }
      .info-box {
        order: 1;
        margin-left: auto;
      }
    }
  }
}
