.project {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  .img-wrapper {
    img {
      display: block;
    }
  }
  .entry-header {
    position: relative;
  }
  .overview {
    @include card;
    h2 {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
    .logo {
      max-width: 170px;
      display: block;
      margin: 0.25rem 0 1rem;
    }
    p {
      @include md { margin: 1rem 0; }
    }
  }
  .location-awards {
    font-size: 0.8rem;
    span.list-label {
      text-transform: uppercase;
      display: inline-block;
      margin-right: 0.25rem;
      padding-top: 0.5rem;
      font-weight: 800;
    }
    span.list-item {
      + span.list-item {
        &::before {
          content: ', ';
        }
      }      
    }
  }
  &.featured {
    margin-bottom: 2rem;
    @include lg { margin-bottom: 3rem; }
    header#cover-project {
      .caption {
        position: absolute;
        bottom: 1.5rem;
        @include lg { 
          bottom: 0.5rem;
          // account for overflowing .overview box
          margin-left: calc(60% + 2rem);
        }
        right: 1rem;
        color: $white;
        text-align: right;
      }
    }
    .info-box {
      @include content-width;
      @include lg { display: flex; }
      .overview {
        flex-basis: 60%;
        margin: -1rem 1rem 0;
        @include lg {
          display: flex;
          margin-top: -5rem;
          margin-left: 1rem;
        }
        position: relative;
        div {
          flex: 1;
        }
        div:first-child {
          flex: 0 1 auto;
          margin-right: 2rem;
          @include lg { max-width: 40%; }
        }
      }
      .location-awards {
        flex-basis: 40%;
        padding: 0.75rem 0 0 2rem;
        @include lg { 
          display: flex;
          padding: 1rem 0 0 0; 
          max-width: 40%;
        }
        div {
          flex: 1;
          padding-right: 1rem;
        }
      }
    }
    &::after {
      @include cover-shadow;
    }
  }
  &.regular {
    margin-bottom: 3rem;
    @include lg { display: flex; }
    .entry-header {
      @include lg { width: 50%; }
      img {
        @include lg { border-radius: 3px; }
      }
      .caption {
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        color: $white;
        text-align: right;
        @include lg { position: static; }
      }
    }
    .info-box {
      margin: -1rem 1rem;
      position: relative;
      z-index: 2;
      @include lg { 
        max-width: $sm; 
        margin: 2rem 0 0;
      }
      .overview {
        padding: 1rem;
        @include lg { padding: 1rem 1.25rem; }
        .button {
          margin-bottom: 0.5rem;
        }
      }
    }
    .location-awards {
      padding: 0.75rem 1rem 0;
      @include lg { padding: 0.75rem 1.5rem 0; }
    }
    &:nth-child(even) {
      @include lg {
        .entry-header {
          order: 2;
          .caption {
            text-align: right;
          }
        }
        .info-box {
          order: 1;
          margin-left: auto;
        }
      }
    }
  }
}
