// Customizations for WP default block styles

.wp-block-columns {
  &.nomargin {
    margin: 0;
  }
  &.flex-shrink {
    .wp-block-column {
      flex: 0 1 auto;
    }
    &.centre {
      align-items: center;
    }
    &.first {
      .wp-block-column:first-of-type {
        flex: 1;
      }
    }
  }
}

.wp-block-column {
  &.nomargin {
    .wp-block-columns {
      margin-bottom: 1rem;
    }
  }
}

.wp-block-media-text .wp-block-media-text__content {
  @include max-wp-width {
    padding: 0;
  }
}