h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
	clear: both;
}

header.entry-header.page {
  @include card;
  h1 {
    @include content-width;
  }
}

h2.section {
  margin-top: 3rem;
}

h2.underline {
  margin-top: 2rem;
  &::after {
    content: '';
    display: block;
    margin-top: 0.5rem;
    background: lighten($grey, 25%);
    height: 1px;
    width: 33%;
  }
}