.site-footer {
  background-color: $primary;
  color: $lightgrey;
  padding: 1rem 0;
  margin-top: 3rem;
  .site-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    @include content-width;
    div {
      display: flex;
      align-items: center;
      span {
        margin-right: 1rem;
        a {
          color: $lightgrey;
        }
      }
    }
  }
}