.site-header {
  position: absolute;
  @include md { position: fixed; }
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  height: $nav-height;
  z-index: 3;
}

.main-navigation {
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
    padding-left: 0;
    font-size: 0.8rem;
    @include content-width;

		ul {
      font-size: 0.7rem;
      padding-left: 0.7rem;
      min-width: 170px;
      @include md {
        background: none;
        padding-left: 0;
        font-size: 0.8rem;
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
        background: $primary;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        flex-direction: column;
        align-items: flex-start;
      }

			li {

        width: 100%;

				&:hover > ul,
				&.focus > ul {
          left: auto;
          display: block;
        }

			}

      :hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
      }
		}

		li:hover > ul {
      left: auto;
			@include md { 
        opacity: 0;
        animation: fade-down 0.6s forwards;
      }
    }
		li.focus > ul {
      left: auto;
		}
  }
  
@keyframes fade-down {
  0% {
    transform: translateY(-0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



	li {
		position: relative;

		&:hover > a,
		&.focus > a {
    }
    
    &:last-child {
      margin-left: auto;
    }

    &.menu-item-has-children {
      > a {
        padding: 1rem 1.5rem 0.3rem 1rem;
        @include md { padding: 1rem 1.5rem 1rem 1rem; }
        position: relative;

        &::after {
          @include md { 
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-top: 0.3rem solid $white;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid transparent;
            border-left: 0.3rem solid transparent;
            margin-left: 0.5rem;
          }
        }
      }
    }
	}

	a {
		display: block;
    text-decoration: none;
    color: $white;
    font-weight: 800;
    padding: 0.7rem 1rem;
    @include md { padding: 1rem; }
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
  }
  
  .support {
    padding: 0.5rem 1rem 1rem 1rem;
    @include md {
      padding: 0;
    }
    > a {
      width: 100%;
      @include md { width: auto; }
      @include primary-button;
      margin-right: 1rem;
    }
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.main-navigation.toggled {
  background: $primary;
}

.menu-toggle {
  background: $primary;
  color: $white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0;
  border-bottom-right-radius: 3px;
}

.menu-logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
}

@include md {
	.menu-toggle, .main-navigation .menu-logo {
		display: none;
	}

	.main-navigation ul {
    display: flex;
    align-items: center;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Fading Header
#intersector {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.fade-header .site-header {
  background: none;
  @include md { 
    transition: background 0.3s ease-in-out;
    &.active {
      background: $primary;
    }
  }
}

// WordPress Admin Bar
.logged-in {
  .site-header {
    top: 32px;
    @include max-wp-width { top: 46px; }
  }
  #wpadminbar {
    position: fixed;
  }
}

@import "footer";