/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
  display: block;
}

figure {
  margin: 0;
}

.caption, figcaption {
  font-size: 0.8rem;
  color: $grey;
  line-height: 1.7;
  img {
    display: inline;
    max-width: 90px;
    @include min-wp-width { 
      max-width: 130px;
      display: block;
      margin-top: 0.5rem;
    }
  }
}

.people-page img, .entry-content img {
  border-radius: 3px;
}

.img-wrapper img {
  width: 100%;
}

