/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
  margin: 0;
}

.caption, figcaption {
  font-size: 0.8rem;
  color: $grey;
  img {
    display: block;
    margin-top: 0.5rem;
    max-width: 130px;
  }
}
