$primary: #2A263D;
$black: #111111;
$white: #ffffff;
$grey: #848484;
$lightgrey: #F6F6F6;

$accent1: #A4243B;
$accent2: #FC9D66;
$accent3: #D8973C;
$accent4: #2A263D;
$accent5: #486F7E;
$accent6: #3B97C1;